*{
    font-family: 'Montserrat', sans-serif;
}

body{
    font-size: larger;
    background-image: url('/images/bg_image.jpg');
    font-weight: 600;
    
}

h1{
    text-align: center;
    padding: 1rem;
}
